.formSection {
	background: url("../../images/backgroundhome.jpg");
	background-size: cover;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	padding-bottom: 100px;
	position: relative;
}

.formContainer {

	background-size: cover;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	padding-bottom: 100px;
	position: relative;
}

.formulario {
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	padding: 100px;
	gap: 15px;
	background: linear-gradient(145deg, #23292d4b, #2a313653);
	backdrop-filter: blur(5px);
	border-radius: 20px;
	color: white;
	border: 1px solid rgba(93, 93, 93, 0.289);
}

.formulario input {
	width: 100%;
	font-size: 1em;
	border-radius: 5px;
}

.textareaSteps {
	height: 100px;
	border-radius: 15px;
	box-shadow: inset 1px 1px 1px #181c20, inset -1px -1px 1px #38444e;
	resize: none;
	padding: 15px;
	font-size: 1em;
	font-family: "Varela Round", sans-serif !important;
	margin: 10px 0;
	outline: none;
}

.textarea {
	height: 200px;
	border-radius: 15px;
	box-shadow: inset 1px 1px 1px #181c20, inset -1px -1px 1px #38444e;
	resize: none;
	padding: 15px;
	font-size: 1em;
	font-family: "Varela Round", sans-serif !important;
	margin: 10px 0;
	outline: none;
}

.errorTextarea {
	height: 200px;
    border: solid red 2px;
	border-radius: 15px;
	box-shadow: inset 1px 1px 1px #181c20, inset -1px -1px 1px #38444e;
	resize: none;
	padding: 15px;
	margin: 10px 0;
}

.inputResumen {
	display: flex;
	flex-direction: column;
	font-size: 18px;
}

.inputDietas label {
	display: flex;
	text-align: start;
	align-items: center;
	gap: 1em;
	font-size: 18px;
}

.overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.644) 0%,
		rgba(19, 19, 19, 0.7) 100%
	);
	position: absolute;
}


.title {
	background-size: cover;
	width: 100%;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.title h2 {
	font-family: "Playfair Display", serif;
	font-size: 3em;
	line-height: 1em;
	color: white;
	max-width: 60%;
}


.inputDietas label input {
	width: 15px;
	height: 15px;
	color: white;
}

.label {
	font-family: "Varela Round", sans-serif !important;
	font-size: 1.5em;
}

.btnContainer {
    display: flex;
    justify-content: space-evenly;
	text-align: center;
}

.inputTitle {
    width: 500px;
	font-family: "Varela Round", sans-serif !important;
	font-size: 1.4em;
	font-weight: normal;
}

.listSteps {
    width: 500px;
    justify-content: start;
    border-radius: 0.5em;

	font-family: "Varela Round", sans-serif !important;
	font-weight: normal;
}

.inputDietas > label {
	font-size: 1.4em;
	justify-content: center;
	text-align: center;
	font-family: "Varela Round", sans-serif !important;
	width: 100% !important;
}

.buttonForm {
	height: 25px;
	border-radius: 0.5em;
	background-image: linear-gradient(109.6deg, #f55b22 40%, #f9351a 70%);
	padding: 20px;
	font-size: 1.1em;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Varela Round", sans-serif !important;
	cursor: pointer;
}

.btnx{
    background-image: linear-gradient(109.6deg, #f55b22 40%, #f9351a 70%);
    color: white;
    padding: 10px;
    border-radius: 0.5em;
}

.btn {
	background-image: linear-gradient(109.6deg, #f55b22 40%, #f9351a 70%);
	border-radius: 0.5em;
	color: white;
	padding: 8px 15px;
	font-family: "Varela Round", sans-serif !important;
	font-size: 1.1em;
	width: 100px;
	position: absolute;
	top: -15px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.1em;
    cursor: pointer;
}

.imgContainer {
	position: absolute;
	height: 230px;
	width: 230px;
	border-radius: 300px;
	overflow: hidden;
	right: -100px;
	top: -100px;
	box-shadow: 20px 20px 60px #12171b, -20px -20px 60px #161b1f;
}

.imgContainer img {
	height: 100%;
	object-fit: cover;
}

.errorInput {
    border: solid red 2px;
	width: 100%;
	font-size: 18px;
  }
  
  .errorText {
    font-size: 15px;
    color: rgb(180, 21, 21);
    background-color: aliceblue;
  }