.background{
    display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	background: url("../../images/backgroundhome.jpg");
	background-size: cover;
	background-position: 100%;
}

.recipesContainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	gap: 20px 20px;
	padding-top: 50px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  margin-left: 10%;
}

.loading img {
	width: 80%;
	height: 80%;
	object-fit: cover;
}


.noHayTarjetas {
	font-family: "Playfair Display", serif;
	color: white;
	font-size: 6em;
	line-height: 1em;
}

.linkHome{
	margin-right: auto;
	padding-right:1px;
}


.Nav {
	display: flex;
	border-radius: 10px;
	flex-direction: row;
	width: 98%;
	padding: 15px;
	bottom: 15px;
	height: 80%;
	background-color: rgba(230, 46, 159, 0.521);
  }

  .searchBar{
	display: flex;
	flex-wrap: wrap;
  }
  
  .navLink {
	display: flex;
	justify-content: space-around;
	font-size: 20px;
	width: 100%;
  }
 
  
.input {
	border: 2px solid #ccc;
	padding: 5px;
	border-radius: 5px;
	font-size: 14px;
	width: 100%;
	max-width: 200px;
  }

  .btn {
	min-width: 80px;
    margin: 0.5em;
    height: 30px;
	font-size: 14px;
	background-image: linear-gradient(109.6deg, #f55b22 40%, #f9351a 70%);
    border-color: #DCB069;
    cursor: pointer;
    border-radius: 0.5em;
    color: white;
}

.active {
	color: rgb(158, 155, 155);
	font-weight: bold;
	text-decoration: none;
  }

  .disable {
	color: #f6f4e6;
	text-decoration: none;
  }
  
  .selectsContainer {
	display: flex;
	align-items: center;
	margin: 10px 0;
	justify-content: space-between;
	gap: 1em;
	position: relative;
}

.pageBtnContainer {
	display: flex;
	margin: 10px 0;
	gap: 0.5em;
	justify-content: center;
	background-color: #f00b575d;
	border-radius: 50px;
	padding: 5px 5px;
	position: relative;
}


.btnPage {
	background-image: linear-gradient(109.6deg, #f55b22 40%, #f9351a 70%);
    border-color: #DCB069;
	color: white;
	font-weight: bold;
	cursor: pointer;
    border-radius: 0.5em;
	font-size: 20px;
}

.btnPageActive {
	background-image: linear-gradient(109.6deg, #f55b22 40%, #f9351a 70%);
    border-color: #ff0000;
	color: rgb(180, 145, 145);
	font-weight: bold;
	cursor: pointer;
    border-radius: 0.5em;
	font-size: 20px;
}



@media (max-width: 900px) {
		.recipesContainer {
		justify-content: space-around;
	}
}

@media (max-width: 768px) {
	.pageBtnContainer {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	}
  
	.btnPage {
	  margin: 0.5rem;
	}
  }