.inputSearch{
    display:inline-block;
    min-width: 30px;
    width: 90%;
    margin: 5px;
    height: 30px;
	font-size: 14px;
    background-color: white;
    border-color: hsl(37, 62%, 64%);
    cursor: pointer;
    color: #0a0a23;
    border-radius: 0.5em;
}
